<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 20px;" id="app">
    <form class="layui-form">

        <div class="layui-form-item">
            <input type="text" v-model="name" required lay-verify="required" placeholder="收货人" autocomplete="off"
                   class="layui-input">
            <input type="text" v-model="phone" required lay-verify="required" placeholder="联系方式" autocomplete="off"
                   class="layui-input">
            <input type="text" v-model="addr" required lay-verify="required" placeholder="收货地址" autocomplete="off"
                   class="layui-input">
        </div>

        <div class="layui-form-item">
            <a class="layui-btn" lay-submit lay-filter="formDemo" @click="add()">提交</a>
        </div>

    </form>
</div>
</body>
<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    var qs = Qs

    var vmm = new Vue({
        el: '#app',
        data: {
            addr: "",
        },
        mounted() {
        },
        methods: {
            add() {
                if (this.addr == "") {
                    layer.msg("收货地址不能为空", {icon: 5})
                    return false;
                }
                axios.post('addressAdd', qs.stringify({
                    addr: this.addr,
                    name: this.name,
                    phone: this.phone
                })).then(response => {
                    layer.alert("操作成功！", {icon: 6}, function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index)
                        parent.vmm.getaddresslist()
                    })
                }).catch(error => {
                    console.log(error)
                })
            },


        }
    });
</script>
</html>