<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>衣衣布舍女装网站</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="描述" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>

    <div class="contact-wrapper">
        <header class="main-header-area">
            <div id="topiframe"></div>
            <!-- Main Header Area Start -->

            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->

            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->

            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative" style="background: url('upload/banner.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">购物车</h3>
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li>购物车列表</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Area Start Here -->
        <div class="cart-main-wrapper mt-no-text mb-no-text" id="app">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Cart Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="pro-thumbnail">图片</th>
                                    <th class="pro-title">商品</th>
                                    <th class="pro-price">价格</th>
                                    <th class="pro-quantity">数量</th>
                                    <th class="pro-subtotal">实付</th>
                                    <th class="pro-remove">删除</th>
                                </tr>
                                </thead>
                                <tbody>



                                <template v-for="(cart,i) in cartlist">
                                    <tr >
                                        <td class="pro-thumbnail"><a href="#"><img class="img-fluid" :src="['upload/'+cart.product.filename]" alt="Product" /></a></td>
                                        <td class="pro-title"><a href="#">{{cart.product.name}}</a></td>
                                        <td class="pro-price">

                                            <template v-if="cart.product.tprice>0">
                                                <span class="regular-price ">￥{{cart.product.tprice}}</span>
                                                <span class="old-price"><del>￥{{cart.product.price}}</del></span>
                                            </template>
                                            <template v-else>
                                                <span class="regular-price ">￥{{cart.product.price}}</span>
                                            </template>

                                        </td>
                                        <td class="pro-quantity">
                                            <div class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" :value="cart.num" type="text">
                                                    <!--<div class="dec qtybutton">-</div>-->
                                                    <!--<div class="inc qtybutton">+</div>-->
                                                    <div class="dec qtybutton" @click="editnum($event,cart.id,cart.product.kc)"><i class="fa fa-minus"></i></div>
                                                    <div class="inc qtybutton" @click="editnum($event,cart.id,cart.product.kc)"><i class="fa fa-plus"></i></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="pro-subtotal"><span>￥{{cart.xjtotal}}</span></td>
                                        <td class="pro-remove"><a href="javascript:;" @click="del(cart.id)"><i class="ion-trash-b"></i></a></td>
                                    </tr>
                                </template>





                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Update Option -->
                        <div class="cart-update-option d-block d-md-flex justify-content-between">
                            <div class="cart-update mt-sm-16">
                                <a href="productlist.html" class="btn obrien-button primary-btn">继续购物</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <!-- Cart Calculation Area -->
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3 style="font-weight: bold;border-bottom: 1px solid #EEEEEE;">购物车总价</h3>
                                <div class="table-responsive">
                                    <!--<table class="table">-->
                                        <!--<tr>-->
                                            <!--<td>XXX商品</td>-->
                                            <!--<td>￥230</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>XX商品</td>-->
                                            <!--<td>￥70</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="total">-->
                                            <!--<td>总价</td>-->
                                            <!--<td class="total-amount">￥300</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->

                                    <table class="table">
                                        <tr class="total">
                                            <td>总价</td>
                                            <td class="total-amount">￥{{total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                            <a v-if="cartlist.length>0" href="checkout.html" class="btn obrien-button primary-btn d-block">继续结帐</a>
                            <a v-if="cartlist.length==0" href="javascript:;" class="btn obrien-button primary-btn d-block">购物车无可结算的商品</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">

        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area">
            <div class="footer-copyright-area" id="footiframe">
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="assets/js/vendor/jQuery-migrate-3.3.0.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->


    <script type="text/javascript" src="axios/vue.js"></script>
    <script type="text/javascript" src="axios/axios.min.js"></script>
    <script type="text/javascript" src="axios/qs.js"></script>
    <script type="text/javascript" src="axios/getUrlParams.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>

    <!--<script src="assets/js/main.js"></script>-->

    <script type="text/javascript">

        var qs = Qs
        var pageNum = UrlParam.paramValues("pageNum")==null?1:UrlParam.paramValues("pageNum").toString()
        var cartvmm = new Vue({
            el: '#app',
            data: {
                cartlist: [],
                key: '',
                pageNum:pageNum,
                pageSize: 6,
                total:0.0,
            },
            mounted(){
                if(sessionStorage.getItem("uname")==null){
                    location.replace("login.html")
                    return;
                }
                sessionStorage.setItem("signoutShow","index")

                this.getcartlist()





            },
            methods: {
                editnum(event,id,kc){
                    var $button = $(event.currentTarget);
                    var oldValue = $button.parent().find('input').val();

                    if ($button.hasClass('inc')) {
                        var newVal = parseFloat(oldValue) + 1;
                    } else {
                        // Don't allow decrementing below zero
                        if (oldValue > 1) {
                            var newVal = parseFloat(oldValue) - 1;
                        } else {
                            newVal = 1;
                        }
                    }

                    if(parseInt(kc)<parseInt(newVal)){
                        layer.msg("库存不足",{icon:5})
                    }else{
                        $button.parent().find('input').val(newVal);

                        axios.post('editcartnum', qs.stringify({
                            id: id,
                            num:newVal,
                        })).then(response => {
                            this.getcartlist()
                            topvmm.getcartlist()
                        }).catch(error => {
                            console.log(error)
                        })
                    }



                },
                getcartlist() {
                    axios.post('cartList', qs.stringify({
                        key: this.key,
                        pageSize: this.pageSize
                    })).then(response => {
                        layui.use(['laypage', 'layer'], function () {
                            var laypage = layui.laypage
                                , layer = layui.layer;
                            //总页数大于页码总数
                            laypage.render({
                                elem: 'demo1'
                                ,theme:"#E98C81"
                                ,curr:cartvmm.pageNum
                                , limit: cartvmm.pageSize
                                , count: response.data.list.length //数据总数
                                , jump: function (obj, first) {
                                    cartvmm.pageNum = obj.curr
                                    cartvmm.current_page(obj.curr, cartvmm.pageSize)
                                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                                }
                            });
                        });
                    }).catch(error => {
                        console.log(error)
                    })
                },


                current_page(page, pageSize) {
                    axios.post('cartList', qs.stringify({
                        key: this.key,
                        pageNum: page,
                        pageSize: pageSize,
                    })).then(response => {
                        this.cartlist = response.data.pageInfo.list
                        this.total = response.data.total

                    }).catch(error => {
                        console.log(error)
                    })
                },

                del(id){
                    axios.post('cartDel',qs.stringify({
                        id:id,
                    })).then(response =>{
                        this.getcartlist()
                        topvmm.getcartlist()
                    }).catch(error =>{
                        console.log(error)
                    })
                },



            }
        });

        window.onload=function(){
            $("#topiframe").load("iframe/topiframe.html")
            $("#footiframe").load("iframe/footiframe.html")

            // var sc = document.createElement("script");
            // sc.src = "assets/js/main.js";
            // $("body").append(sc);


        }
    </script>

</body>

</html>
