<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>衣衣布舍女装网站</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="描述" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>

    <div class="contact-wrapper">
        <header class="main-header-area">
            <div id="topiframe"></div>
            <!-- Main Header Area Start -->

            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->

            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->

            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative" style="background: url('upload/banner.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">在线留言</h3>
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li>在线留言</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Area Start Here -->
        <div class="blog-main-area" id="app">
            <div class="container container-default-2 custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-12 col-custom mt-no-text">
                        <!-- 博客 Details wrapper Area Start -->
                        <div class="blog-post-details">
                            <section class="blog-post-wrapper product-summery">
                                <div class="comment-area-wrapper mt-5">
                                    <div class="comments-view-area">
                                        <h6 class="mb-5">{{chatlist.length}} 留言</h6>

                                        <div v-for="chat in chatlist" class="single-comment-wrap mb-4 d-flex">
                                            <figure class="author-thumb">
                                                <a href="#">
                                                    <img :src="['upload/'+chat.member.filename]" alt="Author">
                                                </a>
                                            </figure>
                                            <div class="comments-info">
                                                <p class="mb-2">{{chat.content}}</p>
                                                <div class="comment-footer d-flex justify-content-between">
                                                    <a href="#" class="author"><strong>{{chat.member.tname}}</strong> - {{chat.savetime}}</a>
                                                    <!--<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>-->
                                                </div>

                                                <p v-if="chat.hfcontent!=null && chat.hfcontent!=''" class="mb-2" style="padding-top: 5px;">
                                                    <span class="layui-badge">回复</span>
                                                    <template style="margin-left: 40px;">{{chat.hfcontent}}</template>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-12 col-custom mt-no-text">
                                            <div id="demo1" style="text-align:center"></div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- 博客 Details Wrapper Area End -->
                        <!-- 博客 Comments Area Start -->
                        <form action="#">
                            <div class="comment-box">
                                <h3>留言</h3>
                                <div class="row">
                                    <div class="col-12 col-custom">
                                        <div class="input-item mt-4 mb-4">
                                            <textarea cols="30" rows="5" v-model="content" class="border rounded-0 w-100 custom-textarea input-area" placeholder="内容"></textarea>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6 col-custom">-->
                                        <!--<div class="input-item mb-4">-->
                                            <!--<input class="border rounded-0 w-100 input-area name" type="text" placeholder="Name">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6 col-custom">-->
                                        <!--<div class="input-item mb-4">-->
                                            <!--<input class="border rounded-0 w-100 input-area email" type="text" placeholder="Email">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-12 col-custom mt-40 mb-no-text">
                                        <button type="button" class="btn obrien-button primary-btn rounded-0 mb-0 w-100" @click="add()">提交留言</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- 博客 Comments Area End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Login Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">

        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area">
            <div class="footer-copyright-area" id="footiframe">
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="assets/js/vendor/jQuery-migrate-3.3.0.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


    <script type="text/javascript" src="axios/vue.js"></script>
    <script type="text/javascript" src="axios/axios.min.js"></script>
    <script type="text/javascript" src="axios/qs.js"></script>
    <script type="text/javascript" src="axios/getUrlParams.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>



    <script type="text/javascript">

        var qs = Qs
        var pageNum = UrlParam.paramValues("pageNum")==null?1:UrlParam.paramValues("pageNum").toString()
        var vmm = new Vue({
            el: '#app',
            data: {
                chatlist:[],
                content:"",
                pageNum:pageNum,
                pageSize: 6,
            },
            mounted(){
                sessionStorage.setItem("signoutShow","chatlist")
                this.getchatlist()
            },
            methods: {
                getchatlist() {
                    axios.post('chatLb',qs.stringify({
                        pageSize:this.pageSize
                    })).then(response =>{
                        layui.use(['laypage', 'layer'], function(){
                            var laypage = layui.laypage
                                ,layer = layui.layer;
                            //总页数大于页码总数
                            laypage.render({
                                elem: 'demo1'
                                , theme: "#E98C81"
                                ,limit:vmm.pageSize
                                ,count: response.data.list.length //数据总数
                                ,jump: function(obj,first){
                                    vmm.current_page(obj.curr,vmm.pageSize)
                                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                                }
                            });
                        });
                    }).catch(error =>{
                        console.log(error)
                    })
                },
                current_page(page,pageSize){
                    axios.post('chatLb',qs.stringify({
                        pageNum:page,
                        pageSize:pageSize,
                    })).then(response =>{
                        this.chatlist = response.data.pageInfo.list
                    }).catch(error =>{
                        console.log(error)
                    })
                },


                add(){
                    axios.post('checkmember',qs.stringify({
                    })).then(response =>{
                        if(response.data.data==200){
                            if(this.content==""){
                                layer.msg("留言内容不能为空",{icon:5})
                                return false;
                            }
                            axios.post('chatAdd',qs.stringify({
                                content:this.content,
                            })).then(response =>{
                                layer.msg("操作成功",{icon:6})
                                this.getchatlist()
                            }).catch(error =>{
                                console.log(error)
                            })
                        }else{
                            location.replace("login.html")
                        }
                    }).catch(error =>{
                        console.log(error)
                    })

                },



            }
        });

        window.onload=function(){
            $("#topiframe").load("iframe/topiframe.html")
            $("#footiframe").load("iframe/footiframe.html")
        }
    </script>

</body>

</html>
