<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>衣衣布舍女装网站</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="描述" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->


    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->


    <style>
        .checkbox-form .checkout-form-list select {
            background: #ffffff;
            border: 1px solid #e1e1e1;
            border-radius: 0;
            height: 42px;
            width: 100%;
            padding: 0px 10px 0px 10px;
    </style>

</head>

<body>

<div class="contact-wrapper">
    <header class="main-header-area">
        <div id="topiframe"></div>
        <!-- Main Header Area Start -->

        <!-- Main Header Area End -->
        <!-- Sticky Header Start Here-->

        <!-- Sticky Header End Here -->
        <!-- off-canvas menu start -->

        <!-- off-canvas menu end -->
    </header>
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative" style="background: url('upload/banner.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">创建订单</h3>
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li>创建订单</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Login Area Start Here -->
    <div class="checkout-area" id="app">
        <div class="container container-default-2 custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">
                        <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="form-row-first">
                                        <label>用户名或邮箱<span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row-last">
                                        <label>输入密码 <span class="required">*</span></label>
                                        <input type="password">
                                    </p>
                                    <p class="form-row">
                                        <input type="checkbox" id="remember_me">
                                        <label for="remember_me">记住密码</label>
                                    </p>
                                    <p class="lost-password"><a href="#">忘记密码?</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="col-lg-5">
                        <!-- Cart Calculation Area -->
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3 style="font-weight: bold;border-bottom: 1px solid #EEEEEE;">清单</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>{{product.name}}</td>
                                            <td>{{num}}</td>

                                            <td>
                                                <template v-if="product.tprice>0">
                                                    <span class="regular-price ">￥{{product.tprice}}</span>
                                                    <span class="old-price"><del>￥{{product.price}}</del></span>
                                                </template>
                                                <template v-else>
                                                    <span class="regular-price ">￥{{product.price}}</span>
                                                </template>
                                            </td>
                                        </tr>

                                        <tr>
                                        <tr class="total">
                                            <td>总价</td>
                                            <td></td>

                                            <td class="total-amount">￥{{total}}</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <form action="#">
                        <div class="checkbox-form" style="padding-top: 20px;">
                            <h3>详细地址</h3>
                            <div class="row">
                                <!--<div class="col-md-6">-->
                                <!--<div class="checkout-form-list">-->
                                <!--&lt;!&ndash;<label>收货人姓名</span> <span class="required">*</span></label>&ndash;&gt;-->
                                <!--<input placeholder="收货人姓名" type="text" v-model="name">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-6">-->
                                <!--<div class="checkout-form-list">-->
                                <!--&lt;!&ndash;<label>收件人电话 <span class="required">*</span></label>&ndash;&gt;-->
                                <!--<input placeholder="收件人电话" type="text" v-model="tel">-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>收货地址 <span class="required">*</span></label>
                                        <select v-model="addr" name="addr">
                                            <option value="">请选择收货地址</option>
                                            <option v-for="address in addresslist" :value="address.addr">
                                                {{address.addr}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <a href="javascript:;" @click="add()" class="btn obrien-button primary-btn d-block">提交</a>

                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Area End Here -->
    <!-- Support Area Start Here -->
    <div class="support-area">

    </div>
    <!-- Support Area End Here -->
    <!-- Footer Area Start Here -->
    <footer class="footer-area">
        <div class="footer-copyright-area" id="footiframe">
        </div>
    </footer>
    <!-- Footer Area End Here -->
</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
<!-- jQuery Migrate JS -->
<script src="assets/js/vendor/jQuery-migrate-3.3.0.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<!-- Ajax JS -->
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<!-- Jquery Ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<!-- jquery magnific popup js -->
<script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>


<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>


<script type="text/javascript">

    var qs = Qs
    var productid = UrlParam.paramValues("productid").toString()
    var num = UrlParam.paramValues("num").toString()


    var vmm = new Vue({
        el: '#app',
        data: {
            productid: productid,
            num: num,
            product: {
                name: "",
            },
            total: 0.0,

            addresslist: [],
            addr: "",

        },
        mounted() {
            if (sessionStorage.getItem("uname") == null) {
                location.replace("login.html")
                return;
            }
            this.show()
            this.getaddresslist()

        },
        methods: {

            getaddresslist() {
                axios.post('addressList', qs.stringify({})).then(response => {

                    this.addresslist = response.data.list
                    $.each(this.addresslist, function (index, item) {
                        if (item.ismr == "是") {
                            vmm.addr = item.addr
                        }
                    })
                }).catch(error => {
                    console.log(error)
                })
            },

            show() {
                axios.post('admin/productShow', qs.stringify({
                    id: this.productid,
                })).then(response => {
                    this.product = response.data.product
                    if (parseFloat(this.product.tprice) > 0) {
                        this.total = this.product.tprice * this.num
                    } else {
                        this.total = this.product.price * this.num
                    }
                }).catch(error => {
                    console.log(error)
                })
            },
            add() {
                if (this.addr == "") {
                    layer.msg("收货地址不能为空！", {icon: 5})
                    return;
                }
                axios.post('ordermsgAdd1', qs.stringify({
                    addr: this.addr,
                    productid: this.productid,
                    num: this.num,
                    total: this.total,

                })).then(response => {
                    if (response.data.data == 200) {
                        layer.msg("创建成功！", {icon: 6})
                    } else {
                        layer.msg("没有可结算的商品，创建失败！", {icon: 5})
                    }
                }).catch(error => {
                    console.log(error)
                })
            },
        }
    });

    window.onload = function () {
        $("#topiframe").load("iframe/topiframe.html")
        $("#footiframe").load("iframe/footiframe.html")
    }
</script>

</body>

</html>
