<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 20px;" id="app">
    <form class="layui-form">



        <div class="layui-form-item">
            支付金额:<span style="margin-left: 20px;color:darkred">{{total}}RMB</span>
        </div>


        <div class="layui-form-item">
                <input type="text" v-model="zhanghao" required  lay-verify="required" placeholder="支付帐号" autocomplete="off" class="layui-input">
        </div>

        <div class="layui-form-item">
            <input type="password" v-model="mima" required  lay-verify="required" placeholder="支付密码" autocomplete="off" class="layui-input">
        </div>

        <div class="layui-form-item">
                <a class="layui-btn" lay-submit lay-filter="formDemo" @click="fukuan()">付款</a>
        </div>

    </form>
</div>
</body>
<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    var qs = Qs
    var id = UrlParam.paramValues("id").toString()
    var total = UrlParam.paramValues("total").toString()

    var vmm = new Vue({
        el: '#app',
        data: {
            id:id,
            total:total,
            zhanghao:"",
            mima:"",
        },
        mounted(){
        },
        methods: {
            fukuan() {
                if(this.zhanghao==""){
                    layer.msg("支付帐号不能为空",{icon:5})
                    return false;
                }
                if(this.mima==""){
                    layer.msg("支付密码不能为空",{icon:5})
                    return false;
                }
                axios.post('fukuan',qs.stringify({
                    id:this.id,
                    status:"已付款",
                })).then(response =>{
                    if(response.data.data==200){
                       layer.alert("支付成功！",{icon:6},function(){
                           var index = parent.layer.getFrameIndex(window.name);
                           parent.layer.close(index)
                           parent.vmm.getorderlist('')
                        })
                    }else{
                        layer.alert("余额不足，请充值！",{icon:5},function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index)
                            parent.vmm.getorderlist('')
                        })
                    }
                }).catch(error =>{
                    console.log(error)
                })
            },






        }
    });
</script>
</html>