<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>衣衣布舍女装网站</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="描述" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <style>
        .activs{
            border:1px solid #E98C81;
            color:white;
            background: #E98C81;

        }
    </style>
</head>

<body>

    <div class="contact-wrapper">
        <header class="main-header-area">
            <div id="topiframe"></div>
            <!-- Main Header Area Start -->

            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->

            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->

            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative" style="background: url('upload/banner.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">我的订单</h3>
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li>订单列表-订单详情</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Area Start Here -->
        <div class="cart-main-wrapper mt-no-text mb-no-text" id="app" style="margin-top: 20px;">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Cart Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>图片</th>
                                    <th>商品</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>小计</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>



                                <template v-for="(ordermsg,i) in ordermsglist">
                                    <tr >
                                        <td class="pro-thumbnail" style="text-align: center">
                                            <img :src="['upload/'+ordermsg.product.filename]">
                                        </td>
                                        <td style="text-align: center">{{ordermsg.product.name}}</td>
                                        <td style="text-align: center" >{{ordermsg.product.price}}</td>
                                        <td style="text-align: center">{{ordermsg.num}}</td>
                                        <td style="text-align: center">{{ordermsg.xjtotal}}</td>
                                        <td>
                                            <a v-if="ordermsg.status=='交易完成'" href="javascript:;" @click="apply(ordermsg.id)"><span class="layui-badge layui-bg-cyan">申请售后</span></a>
                                        </td>
                                    </tr>

                                </template>





                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Update Option -->
                    </div>
                </div>

            </div>
        </div>
        <!-- Login Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">

        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area">
            <div class="footer-copyright-area" id="footiframe">
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="assets/js/vendor/jQuery-migrate-3.3.0.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->


    <script type="text/javascript" src="axios/vue.js"></script>
    <script type="text/javascript" src="axios/axios.min.js"></script>
    <script type="text/javascript" src="axios/qs.js"></script>
    <script type="text/javascript" src="axios/getUrlParams.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>

    <!--<script src="assets/js/main.js"></script>-->

    <script type="text/javascript">

        var qs = Qs
        var ddno = UrlParam.paramValues("ddno").toString()
        var vmm = new Vue({
            el: '#app',
            data: {
                ordermsglist:[],
                ddno:ddno,
            },
            mounted(){
                if (sessionStorage.getItem("uname") == null) {
                    location.replace("login.html")
                    return;
                }
                this.getordermsglist()
            },
            methods: {
                apply(ordermsgid){
                    var index = layer.open({
                        title:"申请售后",
                        type:2,
                        area:['600px','500px'],
                        maxmin:true,
                        content:"applyadd.html?ordermsgid="+ordermsgid
                    })
                },
                getordermsglist(){
                    axios.post('orderdetailsList',qs.stringify({
                        ddno:this.ddno,
                    })).then(response =>{
                        this.ordermsglist = response.data.list
                    }).catch(error =>{
                        console.log(error)
                    })
                },

            }
        });

        window.onload=function(){
            $("#topiframe").load("iframe/topiframe.html")
            $("#footiframe").load("iframe/footiframe.html")

            // var sc = document.createElement("script");
            // sc.src = "assets/js/main.js";
            // $("body").append(sc);


        }
    </script>

</body>

</html>
