<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>衣衣布舍女装网站</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="描述" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->


    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <style>
        .actives {
            color: #E98C81 !important;
            font-weight: bold !important;
        }
    </style>
</head>

<body>

<div class="contact-wrapper">
    <header class="main-header-area">
        <div id="topiframe"></div>
        <!-- Main Header Area Start -->

        <!-- Main Header Area End -->
        <!-- Sticky Header Start Here-->

        <!-- Sticky Header End Here -->
        <!-- off-canvas menu start -->

        <!-- off-canvas menu end -->
    </header>
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative" style="background: url('upload/banner.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">线上商城</h3>
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li>商品列表</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Login Area Start Here -->
    <div class="shop-main-area" id="app">
        <div class="container container-default custom-area">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-12 col-custom widget-mt">
                    <!-- 商品 Wrapper Start -->
                    <div class="row shop_wrapper grid_3">


                        <div v-for="product in productlist" class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
                            <div class="single-product position-relative">
                                <div class="product-image">
                                    <a class="d-block" :href="['productdetails.html?id='+product.id]">
                                        <img :src="['upload/'+product.filename]" alt="" class="product-image-1 w-100">
                                        <!--<img src="assets/images/product/2.jpg" alt="" class="product-image-2 position-absolute w-100">-->
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star-o"></i>-->
                                        <!--<i class="fa fa-star-o"></i>-->
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"><a :href="['productdetails.html?id='+product.id]">{{product.name}}</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <template v-if="product.tprice>0">
                                            <span class="regular-price ">￥{{product.tprice}}</span>
                                            <span class="old-price"><del>￥{{product.price}}</del></span>
                                        </template>
                                        <template v-else>
                                            <span class="regular-price ">￥{{product.price}}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class="add-action d-flex position-absolute">
                                    <a @click="addcart(product.id)" href="javascript:;" title="添加到购物车">
                                        <i class="ion-bag"></i>
                                    </a>
                                    <a @click="addfav(product.id)" href="javascript:;" title="添加到收藏">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>
                                    <a :href="['productdetails.html?id='+product.id]" data-toggle="modal" title="Quick View">
                                        <i class="ion-eye"></i>
                                    </a>
                                </div>
                                <!--<div class="product-content-listview">-->
                                    <!--<div class="product-rating">-->
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star"></i>-->
                                        <!--<i class="fa fa-star-o"></i>-->
                                        <!--<i class="fa fa-star-o"></i>-->
                                    <!--</div>-->
                                    <!--<div class="product-title">-->
                                        <!--<h4 class="title-2"><a href="product-details.html">商品名</a></h4>-->
                                    <!--</div>-->
                                    <!--<div class="price-box">-->
                                        <!--<span class="regular-price ">￥80.00</span>-->
                                        <!--<span class="old-price"><del>￥90.00</del></span>-->
                                    <!--</div>-->
                                    <!--<div class="add-action-listview d-flex">-->
                                        <!--<a href="cart.html" title="添加到购物车">-->
                                            <!--<i class="ion-bag"></i>-->
                                        <!--</a>-->
                                        <!--<a href="compare.html" title="Compare">-->
                                            <!--<i class="ion-ios-loop-strong"></i>-->
                                        <!--</a>-->
                                        <!--<a href="wishlist.html" title="添加到收藏">-->
                                            <!--<i class="ion-ios-heart-outline"></i>-->
                                        <!--</a>-->
                                        <!--<a href="#exampleModalCenter" data-toggle="modal" title="Quick View">-->
                                            <!--<i class="ion-eye"></i>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<p class="desc-content">-->
                                        <!--杯里的茶因遇到水而上浮，杯里的茶因为遇到水而清香。待香散尽，茶也变凉。不管等待是多么渺茫，水是多么滚烫，只要心中的理想不灭，就能送来清醇的茶香。-->
                                        <!--一杯浓浓的咖啡，一块小小的蛋糕，听着手机里动人的旋律，静静看着窗外的蒙蒙细雨，忽然，幸福就溢满心田。-->
                                    <!--</p>-->
                                <!--</div>-->
                            </div>
                        </div>


                    </div>
                    <!-- 商品 Wrapper End -->
                    <!-- Bottom Toolbar Start -->
                    <div class="row">
                        <div class="col-sm-12 col-custom">
                            <div id="demo1" style="text-align:center"></div>
                        </div>
                    </div>
                    <!-- Bottom Toolbar End -->
                </div>
                <div class="col-lg-3 col-12 col-custom">
                    <!-- Sidebar Widget Start -->
                    <aside class="sidebar_widget widget-mt">
                        <div class="widget_inner">
                            <div class="widget-list widget-mb-1" style="margin-top: 105px;">
                                <!--<h3 class="widget-title">搜索</h3>-->

                                <div class="search-box">
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="key" placeholder="请输入关键字"
                                               aria-label="请输入关键字">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                    @click="getproductlist(key,'','')">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-for="category in categorylist" class="widget-list widget-mb-1">
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        <li><a href="javascript:;" @click="getproductlist('',category.id,'')"
                                               style="font-weight: bold" :class="key1==category.id?'actives':''">{{category.name}}</a>
                                        </li>
                                        <li v-for="childcategory in category.childlist"><a href="javascript:;"
                                                                                           :class="key2==childcategory.id?'actives':''"
                                                                                           @click="getproductlist('','',childcategory.id)">{{childcategory.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <!--<div class="widget-list widget-mb-4">-->
                                <!--<h3 class="widget-title">最近商品</h3>-->
                                <!--<div class="sidebar-body">-->
                                    <!--<div class="sidebar-product align-items-center">-->
                                        <!--<a href="product-details.html" class="image">-->
                                            <!--<img src="assets/images/product/small-product/1.jpg" alt="product">-->
                                        <!--</a>-->
                                        <!--<div class="product-content">-->
                                            <!--<div class="product-title">-->
                                                <!--<h4 class="title-2"><a href="product-details.html">商品名</a></h4>-->
                                            <!--</div>-->
                                            <!--<div class="price-box">-->
                                                <!--<span class="regular-price ">￥80.00</span>-->
                                                <!--<span class="old-price"><del>￥90.00</del></span>-->
                                            <!--</div>-->
                                            <!--<div class="product-rating">-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star-o"></i>-->
                                                <!--<i class="fa fa-star-o"></i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="sidebar-product align-items-center">-->
                                        <!--<a href="product-details.html" class="image">-->
                                            <!--<img src="assets/images/product/small-product/2.jpg" alt="product">-->
                                        <!--</a>-->
                                        <!--<div class="product-content">-->
                                            <!--<div class="product-title">-->
                                                <!--<h4 class="title-2"><a href="product-details.html">商品标题</a></h4>-->
                                            <!--</div>-->
                                            <!--<div class="price-box">-->
                                                <!--<span class="regular-price ">￥50.00</span>-->
                                                <!--<span class="old-price"><del>￥60.00</del></span>-->
                                            <!--</div>-->
                                            <!--<div class="product-rating">-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star-half-o"></i>-->
                                                <!--<i class="fa fa-star-o"></i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="sidebar-product align-items-center">-->
                                        <!--<a href="product-details.html" class="image">-->
                                            <!--<img src="assets/images/product/small-product/3.jpg" alt="product">-->
                                        <!--</a>-->
                                        <!--<div class="product-content">-->
                                            <!--<div class="product-title">-->
                                                <!--<h4 class="title-2"><a href="product-details.html">Product title-->
                                                    <!--here</a></h4>-->
                                            <!--</div>-->
                                            <!--<div class="price-box">-->
                                                <!--<span class="regular-price ">￥40.00</span>-->
                                                <!--<span class="old-price"><del>￥50.00</del></span>-->
                                            <!--</div>-->
                                            <!--<div class="product-rating">-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star"></i>-->
                                                <!--<i class="fa fa-star-half-o"></i>-->
                                                <!--<i class="fa fa-star-half-o"></i>-->
                                                <!--<i class="fa fa-star-o"></i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </aside>
                    <!-- Sidebar Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Area End Here -->
    <!-- Support Area Start Here -->
    <div class="support-area">

    </div>
    <!-- Support Area End Here -->
    <!-- Footer Area Start Here -->
    <footer class="footer-area">
        <div class="footer-copyright-area" id="footiframe">
        </div>
    </footer>
    <!-- Footer Area End Here -->
</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
<!-- jQuery Migrate JS -->
<script src="assets/js/vendor/jQuery-migrate-3.3.0.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<!-- Ajax JS -->
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<!-- Jquery Ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<!-- jquery magnific popup js -->
<script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>


<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>


<script type="text/javascript">

    var qs = Qs
    var pageNum = UrlParam.paramValues("pageNum") == null ? 1 : UrlParam.paramValues("pageNum").toString()

    var vmm = new Vue({
        el: '#app',
        data: {
            categorylist: [],
            productlist: [],
            key: "",
            key1: "",
            key2: "",
            pageNum: pageNum,
            pageSize: 6,
            sessionmember:"",

        },
        mounted() {
            this.getsessionmember()
            sessionStorage.setItem("signoutShow", "productlist")
            this.getcategorylist()
            this.getproductlist('', '', '')
        },
        methods: {


            getsessionmember(){
                axios.post('checkmember', qs.stringify({
                })).then(response => {
                    if(response.data.data==200){
                        this.sessionmember = response.data.sessionmember
                    }
                }).catch(error => {
                    console.log(error)
                })
            },


            getcategorylist() {
                axios.post('admin/categoryList', qs.stringify({})).then(response => {
                    this.categorylist = response.data.list
                }).catch(error => {
                    console.log(error)
                })
            },


            getproductlist(key, key1, key2) {
                this.key = key,
                    this.key1 = key1,
                    this.key2 = key2,
                    axios.post('productLb', qs.stringify({
                        key: this.key,
                        key1: this.key1,
                        key2: this.key2,
                        issj: "yes",

                        pageSize: this.pageSize
                    })).then(response => {
                        layui.use(['laypage', 'layer'], function () {
                            var laypage = layui.laypage
                                , layer = layui.layer;
                            //总页数大于页码总数
                            laypage.render({
                                elem: 'demo1'
                                , theme: "#E98C81"
                                , curr: vmm.pageNum
                                , limit: vmm.pageSize
                                , count: response.data.list.length //数据总数
                                , jump: function (obj, first) {
                                    vmm.pageNum = obj.curr
                                    vmm.current_page(obj.curr, vmm.pageSize)
                                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                                }
                            });
                        });
                    }).catch(error => {
                        console.log(error)
                    })
            },


            current_page(page, pageSize) {
                axios.post('productLb', qs.stringify({
                    key: this.key,
                    key1: this.key1,
                    key2: this.key2,
                    issj: "yes",
                    pageNum: page,
                    pageSize: pageSize,
                })).then(response => {
                    this.productlist = response.data.pageInfo.list
                    if(this.sessionmember!="" && this.key!=""){
                        let arr = new Array()
                        for(var i=0;i<this.productlist.length;i++){
                            arr.push(this.productlist[i].id)
                        }
                        if(arr.length>0){
                            axios.post('recordAdd2', qs.stringify({
                                arr: arr.toString(),
                            })).then(response => {
                            }).catch(error => {
                                console.log(error)
                            })
                        }
                    }


                }).catch(error => {
                    console.log(error)
                })
            },


            addfav(productid){
                axios.post('checkmember',qs.stringify({
                })).then(response =>{
                    if(response.data.data==200){
                        axios.post('favAdd',qs.stringify({
                            productid:productid,
                        })).then(response =>{
                            if(response.data.data==400){
                                layer.msg("已收藏过此商品！",{icon:5})
                            }else{
                                layer.msg("收藏成功！",{icon:6})
                                // headapp.getcheckmember();
                                topvmm.getcartlist()
                            }
                        }).catch(error =>{
                            console.log(error)
                        })
                    }else{
                        location.replace("login.html")
                    }
                }).catch(error =>{
                    console.log(error)
                })
            },


            addcart(productid){
                axios.post('checkmember',qs.stringify({
                })).then(response =>{
                    if(response.data.data==200){
                        axios.post('cartAdd',qs.stringify({
                            productid:productid,
                            num:1,
                        })).then(response =>{
                            if(response.data.data==400){
                                layer.msg("库存不足",{icon:5})
                            }else{
                                layer.msg("加入购物车成功",{icon:6})
                                // headapp.getcheckmember();
                                topvmm.getcartlist()
                            }
                        }).catch(error =>{
                            console.log(error)
                        })
                    }else{
                        location.replace("login.html")
                    }
                }).catch(error =>{
                    console.log(error)
                })
            },


        }
    });

    window.onload = function () {
        $("#topiframe").load("iframe/topiframe.html")
        $("#footiframe").load("iframe/footiframe.html")
    }
</script>

</body>

</html>
